@using NHSOnline.HttpMocks.Domain
@inject IPatients Patients
@model (string AuthHostName, string Redirect, string State, Microsoft.AspNetCore.Http.HttpRequest Request)
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>NHS Login Stubbed</title>
    <script>
        function ShowLoginTCsChanged(e)
        {
            const loginAction = e.currentTarget.checked ? 'terms-and-conditions' : 'complete-login';
            document.getElementById('LoginForm').setAttribute('action', loginAction);
        }
    
        function Login(patientId) {
            document.getElementById('PatientId').value = patientId;
            document.getElementById('Login').click();
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="display-4">NHS Login</h1>
        <ul>
            <li><a href="javascript: window.history.back();">Back</a></li>
            <li><a href="http://@Model.AuthHostName:8080/citizenid/Page/Internal.html">Internal Page</a></li>
            <li><a href="http://@Model.AuthHostName:8080/citizenid/Page/Internal.html" target="_blank">Internal Page (New Window)</a></li>
            <li><a href="http://@Model.AuthHostName:8080/citizenid/Page/NotFound.html">Not Found</a></li>
            <li><a href="http://@Model.AuthHostName:8080/citizenid/Page/InternalServerError.html">Internal Server Error</a></li>
            <li><a href="http://@Model.AuthHostName:8080/citizenid/Page/FailFast.html">Boom</a></li>
            <li><a href="http://stubs.local.bitraft.io:8080/nhsuk/covid">Covid</a></li>
        </ul>
        <hr>
        <label for="ShowLoginTCs">Show Login Terms and Conditions</label>
        <input type="checkbox" id="ShowLoginTCs" onchange="ShowLoginTCsChanged(event)">
        <form action="complete-login" method="get" id="LoginForm">
            <input value="@Model.Redirect" type="hidden" name="redirect_uri">
            <input value="@Model.Redirect" type="hidden" name="state">
            <div class="form-group">
                <label for="PatientId">Patient ID</label>
                <input class="form-control" placeholder="Patient ID" type="text" name="patientId" id="PatientId">
            </div>
            <input type="submit" id="Login" value="Login">
        </form>
        <hr>
        <h2>Patients</h2>
        <dl class="list-group">
            @foreach(var (key, value) in Model.Request.Query.SelectMany(q => q.Value.Select(v => (q.Key, v))))
            {
                <dt>@key</dt>
                <dd>@value</dd>
            }
        </dl>
        @{
            var patientsList =
                Patients
                    .All()
                    .OrderBy(p => p.Login)
                    .ToLookup(p => p switch
                        {
                            _ when p.Login.StartsWith("P5", StringComparison.InvariantCultureIgnoreCase) => "P5",
                            P5Patient _ => "P5",
                            EmisPatient _ => "Emis",
                            TppPatient _ => "Tpp",
                            VisionPatient _ => "Vision",
                            MicrotestPatient _ => "Microtest",
                            _ => "Other"
                        },
                        p => p.Login);
        }
        @foreach (var grouping in new[] {"P5", "Emis", "Tpp", "Vision", "Microtest", "Other"})
        {
            <h3>@grouping</h3>
            <div class="d-flex flex-row flex-wrap" style="flex-basis: 0">
                @foreach (var login in patientsList[grouping])
                {
                    <div class="p-2">
                        <button type="button" class="btn btn-info" onclick="Login('@login');">@login</button>
                    </div>
                }
            </div>
        }
    </div>
</body>
</html>